* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
:root {
  --blue-background: hsl(200, 80%, 50%);
  --red-background: hsl(0, 75%, 60%);
  --green-background: hsl(150, 80%, 30%);
  --border-color: #dadce0;
  --border-size: 1px;
  --day-padding: 0.25rem;
}
