.modal-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title > * {
  margin-right: 0.25rem;
}

.modal-title > :last-child {
  margin-right: 0;
}

.modal-title > small {
  color: #555;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group.checkbox {
  flex-direction: row;
  align-items: center;
}

.form-group.checkbox input {
  cursor: pointer;
  margin-right: 0;
}

.form-group.checkbox label {
  padding-left: 0.5rem;
  cursor: pointer;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-group label {
  font-weight: bold;
  font-size: 0.8rem;
  color: #777;
}

.form-group input {
  padding: 0.25rem 0.5rem;
}

.close-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.75rem;
  width: 2rem;
  padding: 0;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  transition: background-color 250ms;
  color: #333;
}

.close-btn:hover {
  background-color: #eaeaea;
}
.events {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  overflow: hidden;
}
.event > * {
  margin-right: 0.5rem;
}

.event > :last-child {
  margin-right: 0;
}

.event-time {
  color: #777;
}
.color-dot {
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  flex-shrink: 0;
}

.color-radio {
  position: absolute;
  opacity: 0;
  left: -9999px;
}

.color-radio + label::before {
  content: '';
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  opacity: 0.25;
}

.color-radio:checked + label::before {
  opacity: 1;
}

.color-radio:focus + label::before {
  outline: 1px solid black;
}

.color-radio[value='blue'] + label::before {
  background-color: var(--blue-background);
}

.color-radio[value='red'] + label::before {
  background-color: var(--red-background);
}

.color-radio[value='green'] + label::before {
  background-color: var(--green-background);
}

.btn {
  background: none;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 250ms;
  color: #333;
}

.btn:hover {
  background-color: #f1f3f4;
}

.btn.btn-delete {
  border-color: hsl(0, 75%, 60%);
  background-color: hsl(0, 75%, 95%);
  color: hsl(0, 75%, 10%);
}

.btn.btn-delete:hover {
  background-color: hsl(0, 75%, 90%);
}

.btn.btn-success {
  border-color: hsl(150, 80%, 30%);
  background-color: hsl(150, 80%, 95%);
  color: hsl(150, 80%, 10%);
}

.btn.btn-success:hover {
  background-color: hsl(150, 80%, 90%);
}
.row {
  display: flex;
}

.row > * {
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 0.5rem;
}

.row > :last-child {
  margin-right: 0;
}

.row.left > * {
  flex-grow: 0;
}
