.modal-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title > * {
  margin-right: 0.25rem;
}

.modal-title > :last-child {
  margin-right: 0;
}

.modal-title > small {
  color: #555;
}
.close-btn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.75rem;
  width: 2rem;
  padding: 0;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  transition: background-color 250ms;
  color: #333;
}

.close-btn:hover {
  background-color: #eaeaea;
}
.events {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  overflow: hidden;
}
.event > * {
  margin-right: 0.5rem;
}

.event > :last-child {
  margin-right: 0;
}

.event-time {
  color: #777;
}
.color-dot {
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  flex-shrink: 0;
}
